.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}

#My_Team {
  background-color: #0099ff;
}
#DaftaManasik {
  background-color: #0099ff;
}
section {
  padding-top: 5rem;
}
